{% extends 'base.html' %}

{% block title %}Lolei's Dump / Archived{% endblock %}

{% block content %}

<h2 id='trying' class="title text-light" style="color : white"><b><a href="/" class="text-info">lolei.uk</a> / Archived Posts</b></h2>
<p class="title text-light" style="color : white">
    I wrote these a while ago, and had previously removed them as they're pretty bad. I've brought them back now as 
    I'm working on rebuilding the website, so I might as well leave them here until that's done.
</p>
<nav class="nav bg-dark flex-column">
    <a class="nav-link text-info" href="#equipment" data-toggle="collapse" role="button"
        aria-expanded="false" aria-controls="equipment">Equipment</a>
    <div id="equipment" class="collapse bg-dark" style="padding: 10px">
        <p class="text-light">Currently my main camera is a Canon A-1, with the following lenses: </p>
        <ul>
            <li><p class="text-light">Canon FD 28mm 1:2.8</p></li>
            <li><p class="text-light">Canon FD 35-75mm 1:4</p></li>
            <li><p class="text-light">Canon FD 75-200mm 1:4.5</p></li>
        </ul>
        <p class="text-light">All photos as of now on the site are shot with this setup.
            I also have a Zorki-4k with a Jupiter 8 lens which I will occasionally experiment with.
            My favourite films are FujiFilm Superia Xtra 400 and Ilford HP5+.</p>
    </div>
    <a class="nav-link text-info" href="#zorki-first" data-toggle="collapse" role="button"
        aria-expanded="false" aria-controls="zorki-first">Zorki 4k - First Impressions</a>
    <div id="zorki-first" class="collapse bg-dark" style="padding: 10px">
        <p class="text-light">I have now shot two rolls of film with the Zorki-4k now, one roll of FujiFilm
            Superia Xtra 400 (which is not uploaded here, I’ll get to that) and a roll of Ilford HP5+ which is
            on the site <a class="text-info" href="https://lolei.uk/bw?title=Zorki+4k">here</a>. Firstly, I will
            talk about the overall experience. I found it did slow me down a lot which gave me more time to
            think about framing, light, and so on. This is because of the several quirks the camera has. The
            main ones I noticed were as follows:</p>
            <ul>
                <li><p class="text-light">You must make sure to not touch the shutter speed until after winding
                    the advance lever. From what I have read this is because of a pin that can possibly be
                    damaged if this is done in the wrong order. </p></li>
                <li><p class="text-light">You should not advance the film by winding the lever unless you are
                    ready to take a shot. I believe this is due to springs losing tension over time if the
                    camera is left wound.</p></li>
            </ul>
        <p class="text-light">These are both things that I have not had to think about when using the Canon
            A-1, therefor contribute to using the camera being a much slower experience. As I have said,
            this is not a bad thing at all, it made me take more time on each shot. As opposed to the Canon,
            where exposure settings can be set by the internal light meter, making everything much faster
            when taking similar shots to what I took on the Zorki-4k.</p>
        <p class="text-light">That is another difference between this camera and the Canon A-1, no internal
            light meter. Therefor everything is set manually. This is something I have only really done with
            long exposures and astro-photography before, so is a relatively new experience. Although it was
            not particularly difficult as I used an app on my phone and a few (somewhat) educated guesses.
            So, this is also not a hinderance at all. I like it as it will help to get me more used to
            judging light myself.</p>
        <p class="text-light">But I did experience a few issues with the camera which I discovered after
            getting the photos developed:</p>
        <ul>
            <li><p class="text-light">Light leaks scattered inconsistently throughout the shots, but usually
                in the same place. This can be seen
                <a class="text-info" href="https://lolei.uk/static/img/b-w/zorki-4k/zorki-4k-5.jpg">here</a>
                for example.</p></li>
            <li><p class="text-light">Seemingly misaligned frames throughout the rolls, shown by large black
                bars on a photo at the sides, for example
                <a class="text-info" href="https://lolei.uk/static/img/b-w/zorki-4k/zorki-4k-2.jpg">here</a>
                .</p></li>
        </ul>
        <p class="text-light">My suggestions for the causes of both are complete guesses as I have not had a c
            hance to investigate them properly. But they are quite concerning. Especially the second issue. The
            problem with frames is the reason the colour roll I shot was not uploaded here at all. It impacted
            every photo on the roll. My guess is the film being diagonally held by the teeth near the take-up
            spool due to me not aligning it correctly. This seems likely as the colour roll was the first roll
            that I shot, and I did have issues with rewinding that did not occur with the second. So, I will
            have to keep an eye on that. As for the light leaks, that is something I will have to ask around
            about.</p>
        <p class="text-light">In conclusion, while there are some issues with the camera, they do seem to be due
            to lack of practice (hopefully), and I will be using the camera again. Although maybe not regularly,
            at least until these issues are solved. </p>
    </div>
</nav>

{% endblock %}