<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <link href="{{ url_for('static',filename='styles/style.css') }}" rel='stylesheet'>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">        <title>Lolei's Dump / Posts</title>
    </head>
    <body style="background-color : #272c30;">
        <h2 id='trying' class="title text-light" style="color : white"><b><a href="/" class="text-info">lolei.uk</a> / Posts</b></h2>
        <p class="title text-light" style="color : white">I'll post some things here occasionally related to my photography,
            not sure how often though.</p>
        <nav class="nav bg-dark flex-column">
            <a class="nav-link text-info" href="#equipment" data-toggle="collapse" role="button"
               aria-expanded="false" aria-controls="equipment">Equipment</a>
            <div id="equipment" class="collapse bg-dark" style="padding: 10px">
                <p class="text-light">Currently my main camera is a Canon A-1, with the following lenses: </p>
                <ul>
                    <li><p class="text-light">Canon FD 28mm 1:2.8</p></li>
                    <li><p class="text-light">Canon FD 35-75mm 1:4</p></li>
                    <li><p class="text-light">Canon FD 75-200mm 1:4.5</p></li>
                </ul>
                <p class="text-light">All photos as of now on the site are shot with this setup.
                    I also have a Zorki-4k with a Jupiter 8 lens which I will occasionally experiment with.
                    My favourite films are FujiFilm Superia Xtra 400 and Ilford HP5+.</p>
            </div>
            <a class="nav-link text-info" href="#zorki-first" data-toggle="collapse" role="button"
               aria-expanded="false" aria-controls="zorki-first">Zorki 4k - First Impressions</a>
            <div id="zorki-first" class="collapse bg-dark" style="padding: 10px">
                <p class="text-light">I have now shot two rolls of film with the Zorki-4k now, one roll of FujiFilm
                    Superia Xtra 400 (which is not uploaded here, I’ll get to that) and a roll of Ilford HP5+ which is
                    on the site <a class="text-info" href="https://lolei.uk/bw?title=Zorki+4k">here</a>. Firstly, I will
                    talk about the overall experience. I found it did slow me down a lot which gave me more time to
                    think about framing, light, and so on. This is because of the several quirks the camera has. The
                    main ones I noticed were as follows:</p>
                    <ul>
                        <li><p class="text-light">You must make sure to not touch the shutter speed until after winding
                            the advance lever. From what I have read this is because of a pin that can possibly be
                            damaged if this is done in the wrong order. </p></li>
                        <li><p class="text-light">You should not advance the film by winding the lever unless you are
                            ready to take a shot. I believe this is due to springs losing tension over time if the
                            camera is left wound.</p></li>
                    </ul>
                <p class="text-light">These are both things that I have not had to think about when using the Canon
                    A-1, therefor contribute to using the camera being a much slower experience. As I have said,
                    this is not a bad thing at all, it made me take more time on each shot. As opposed to the Canon,
                    where exposure settings can be set by the internal light meter, making everything much faster
                    when taking similar shots to what I took on the Zorki-4k.</p>
                <p class="text-light">That is another difference between this camera and the Canon A-1, no internal
                    light meter. Therefor everything is set manually. This is something I have only really done with
                    long exposures and astro-photography before, so is a relatively new experience. Although it was
                    not particularly difficult as I used an app on my phone and a few (somewhat) educated guesses.
                    So, this is also not a hinderance at all. I like it as it will help to get me more used to
                    judging light myself.</p>
                <p class="text-light">But I did experience a few issues with the camera which I discovered after
                    getting the photos developed:</p>
                <ul>
                    <li><p class="text-light">Light leaks scattered inconsistently throughout the shots, but usually
                        in the same place. This can be seen
                        <a class="text-info" href="https://lolei.uk/static/img/b-w/zorki-4k/zorki-4k-5.jpg">here</a>
                        for example.</p></li>
                    <li><p class="text-light">Seemingly misaligned frames throughout the rolls, shown by large black
                        bars on a photo at the sides, for example
                        <a class="text-info" href="https://lolei.uk/static/img/b-w/zorki-4k/zorki-4k-2.jpg">here</a>
                        .</p></li>
                </ul>
                <p class="text-light">My suggestions for the causes of both are complete guesses as I have not had a c
                    hance to investigate them properly. But they are quite concerning. Especially the second issue. The
                    problem with frames is the reason the colour roll I shot was not uploaded here at all. It impacted
                    every photo on the roll. My guess is the film being diagonally held by the teeth near the take-up
                    spool due to me not aligning it correctly. This seems likely as the colour roll was the first roll
                    that I shot, and I did have issues with rewinding that did not occur with the second. So, I will
                    have to keep an eye on that. As for the light leaks, that is something I will have to ask around
                    about.</p>
                <p class="text-light">In conclusion, while there are some issues with the camera, they do seem to be due
                    to lack of practice (hopefully), and I will be using the camera again. Although maybe not regularly,
                    at least until these issues are solved. </p>
            </div>
        </nav>
        <nav class="navbar navbar-dark bg-dark">
            <a class="nav-link text-info dropdown-toggle" id="dropdown" href="" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">Film</a>
            <div class="dropdown-menu bg-dark" aria-labelledby="dropdown">
                <a class="dropdown-item text-info" href="#colour" data-toggle="collapse" role="button"
                   aria-expanded="false" aria-controls="colour">Colour Film</a>
                <a class="dropdown-item text-info" href="#bw" data-toggle="collapse" role="button" aria-expanded="false"
                   aria-controls="bw">Black & White Film</a>
                <a class="dropdown-item text-info" href="#edits" data-toggle="collapse" role="button" aria-expanded="false"
                   aria-controls="edits">Edits</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-info" href="{{ url_for('bw', title="Zorki 4k") }}"
                   role="button" aria-expanded="false" aria-controls="latest">Latest Roll</a>
            </div>
            <a class="nav-link text-info" href="{{ url_for('posts') }}">Posts</a>
            <a class="nav-link text-info" href='https://linktr.ee/lolei'>Links</a>
        </nav>
        <script>
            $(document).ready(function(){
                $('.collapse').on('show.bs.collapse', function () {
                    $('.collapse.show').each(function(){
                        $(this).collapse('hide');
                    });
                });
            });
        </script>
        <div id="bw" class="collapse bg-dark" style="padding: 10px">
            <ul>
                {% for i in names_bw %}
                    <li><a class="text-info" href="{{ url_for('bw', title=i) }}">{{ i }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div id="colour" class="collapse bg-dark" style="padding: 10px">
            <ul>
                {% for i in names_colour %}
                    <li><a class="text-info" href="{{ url_for('colour', title=i) }}">{{ i }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div id="edits" class="collapse bg-dark" style="padding: 10px">
            <p class="text-light">Nothing here for now, just for when I actually start trying to improve my editing.</p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
    </body>
</html>